img {
	width:30%;
	float: left;
	margin:1.66%;

}

h1{
	font-family: Arvo;
	margin-left:1.66%;
}

p{
	font-family: Arvo;
	margin-left: 1.66%;
	font-size: 20px;
	font-weight: 400;
	border-bottom: 3px solid green;
	width:30%;
	padding-bottom:30px;
}